<?xml version="1.0"?>
<!--
/**
 * MyEnso AzureBlobStorage
 *
 * @category   MyEnso
 * @package    MyEnso_AzureBlobStorage
 * @license    MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MyEnso_AzureBlobStorage" setup_version="1.0.0">
        <sequence>
            <module name="Magento_RemoteStorage"/>
        </sequence>
    </module>
</config>
